%flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%buttons {
  font-family: $font-family-montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15 / 12 * 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;

  color: $accent-text-color;
  background: $accent-color;

  width: 260px;
  height: 48px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color $anim-duration $anim-timing-function;

  &:focus,
  &:hover {
    color: $accent-color;
    background: $accent-text-color;
    cursor: pointer;
  }

  @media screen and (min-width: $desktop) {
    width: 354px;
    height: 70px;
  }
}
