<section class="advantages">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="container advantages__wrapper">
        <ul class="advantages__list list">
            <li class="advantages__item">
                <p class="advantages__paragraph-adapted">Adapted author's UPE program</p>
             </li>
             <li class="advantages__item">
                 <p class="advantages__paragraph-modern">Modern <br /> teaching methods</p>
                </li>
                <li class="advantages__item">
                    <p class="advantages__paragraph-financial">Financial guarantee the result</p>
                </li>
        </ul>
    </div>
</section>