<section class="advantages">
    <div class="container">
        <ul class="advantages__list list">
            <li class="advantages__item">
                <p class="advantages__paragraph">Adapted author's UPE program</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__paragraph">Modern teaching methods</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__paragraph">Financial guarantee the result</p>
            </li>
        </ul>
    </div>
</section>
