<section class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__logo">
        <include src="./partials/logo.html"></include>
      </div>
      <div class="footer__contacts">
        <a class="footer__phone link" href="tel:+380000000000">
          <svg class="phone__icon">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          +38 (000) 000 00 00</a
        >
        <ul class="footer__social-contacts list">
          <li class="footer__social-contacts__item">
            <a
              class="social-contacts__link link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <p>@ All rights reserved, 2019</p>
    </div>
  </div>
</section>
