<!-- header -->
<header class="header">
    <div class="container header__container">
        <!-- navigation -->
        <nav class="header__nav">
            <!-- logo -->
            <a class="logo logo-white" href="#">
                <!-- <include src="./partials/logo.html"></include> -->
                <p><span>Hell</span>
                    <img src="./images/header/logo-fire.png" alt="small fire logo">
                    <span>EN</span>
                    <span>hellish</span>
                    <span>english</span>
                </p>
            </a>
            <!-- navigation list -->
            <ul class="nav-menu list">
                <li class="nav-menu__item">
                    <a class="nav-menu__link link" href="#">Studying program</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link link" href="#">about</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link link" href="#">training options</a>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link link" href="#">contacts</a>
                </li>
            </ul>
        </nav>
        <!-- button for consultation -->
        <button class="button" type="button">consultation by phone</button>
        <!-- button for open mobile menu window -->
        <button class="header__mobile-burger-button" type="button" >
            <svg class="header__mobile-berger-icon" width="30" height="30">
                <use href="./images/icons.svg#mobile-berger-icon"></use>
            </svg>
        </button>
    </div>
    <!-- mobile menu window -->
    <div class="mobile-menu">
        <div class="container mobile-menu__container">
            <!-- button for close mobile menu window -->
            <button class="mobile-menu__close-buton" type="button">
                <svg class="mobile-menu_close-icon" width="30" height="30">
                    <use href="./images/icons.svg#close-icon"></use>
                </svg>
            </button>
        </div>
    </div>
</header>