<section class="hero">
    <div class="container hero__main-wrapper">
    <div class="hero__title-wrapper">
        <h1 class="hero__title">Complex preparation for English UPE</h1>
    </div>
    <p class="description"><span class="description__decor-one">It won’t be easy.</span>
        <span class="description__decor-two">But you’re guaranteed to get</span>
        <span class="description__decor-three">+25 points</span>
    </p>
    <button class="lesson__button" type="button">I want a free lesson</button>
    </div>
</section>
