<section id="_how-we-do" class="how-we-do">
  <div class="container how-we-do__container">
    <h2 class="how-we-do__title">How do we do it</h2>
    <ul class="how-we-do__list list">
      <li class="how-we-do__item">
        <div class="icon-wrapper">
          <svg class="how-we-do__icon" width="45" height="48">
            <use href="./images/icons.svg#icon-program"></use>
          </svg>
        </div>
        <h3 class="how-we-do__subtitle">
          Adapted program <br />
          preparation for UPE
        </h3>
        <p class="how-we-do__text">
          You will learn grammar and vocabulary at the same time. And you will learn how to write
          essays.
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="icon-wrapper">
          <svg class="how-we-do__icon" width="48" height="47">
            <use href="./images/icons.svg#icon-online-learning"></use>
          </svg>
        </div>
        <h3 class="how-we-do__subtitle">Classroom and online learning</h3>
        <p class="how-we-do__text">
          The teacher will help not only in the classroom, but also during home preparation.
          <span class="how-we-do__span">Parents can chat if they wish.</span>
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="icon-wrapper">
          <svg class="how-we-do__icon" width="68" height="48">
            <use href="./images/icons.svg#icon-reading"></use>
          </svg>
        </div>
        <h3 class="how-we-do__subtitle">The habit of reading in English</h3>
        <p class="how-we-do__text">
          Articles from sources that are used in the development of this UPE will be received by
          phone twice a week.
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="icon-wrapper">
          <svg class="how-we-do__icon" width="48" height="48">
            <use href="./images/icons.svg#icon-support"></use>
          </svg>
        </div>
        <h3 class="how-we-do__subtitle">
          Psychological <br />
          support
        </h3>
        <p class="how-we-do__text">
          We will teach you testing techniques, the ability to plan your confidence training
          <span class="how-we-do__span">in itself.</span>
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="icon-wrapper">
          <svg class="how-we-do__icon" width="40" height="48">
            <use href="./images/icons.svg#icon-training"></use>
          </svg>
        </div>
        <h3 class="how-we-do__subtitle">Training on copyright manuals</h3>
        <p class="how-we-do__text">
          You don't have to waste your time on a search for material and to buy anything extra. We
          have compiled <span class="how-we-do__span">2 manuals for you.</span>
        </p>
      </li>
      <li class="how-we-do__item">
        <div class="icon-wrapper">
          <svg class="how-we-do__icon" width="57" height="48">
            <use href="./images/icons.svg#icon-spoken"></use>
          </svg>
        </div>
        <h3 class="how-we-do__subtitle">
          Ability to comprehend spoken <br />
          English
        </h3>
        <p class="how-we-do__text">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly
          <span class="how-we-do__span">and analyze audio recordings</span> in accordance with the
          studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
