<div class="logo">
        <p class="logo__text-first-line">
            <span>Hell</span>
            <picture>
                <source
                    srcset="./images/logo/desktop/desktop-logo-fire.webp 1x, ./images/logo/desktop/desktop-logo-fire@1.5x.webp 1.5x, ./images/logo/desktop/desktop-logo-fire@2x.webp 2x"
                    media="(min-width: 1366px)" type="image/webp">
                <source
                    srcset="./images/logo/desktop/desktop-logo-fire.jpg 1x, ./images/logo/desktop/desktop-logo-fire@1.5x.jpg 1.5x, ./images/logo/desktop/desktop-logo-fire@2x.jpg 2x"
                    media="(min-width: 1366px)">
                <source
                    srcset="./images/logo/tablet/tablet-logo-fire.webp 1x, ./images/logo/tablet/tablet-logo-fire@1.5x.webp 1.5x, ./images/logo/tablet/tablet-logo-fire@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source
                    srcset="./images/logo/tablet/tablet-logo-fire.jpg 1x, ./images/logo/tablet/tablet-logo-fire@1.5x.jpg 1.5x, ./images/logo/tablet/tablet-logo-fire@2x.jpg 2x"
                    media="(min-width: 768px)">
                <source
                    srcset="./images/logo/mobile/mobile-logo-fire.webp 1x, ./images/logo/mobile/mobile-logo-fire@1.5x.webp 1.5x, ./images/logo/mobile/mobile-logo-fire@2x.webp 2x"
                    media="(max-width: 767px)" type="image/webp">
                <source
                    srcset="./images/logo/mobile/mobile-logo-fire.jpg 1x, ./images/logo/mobile/mobile-logo-fire@1.5x.jpg 1.5x, ./images/logo/mobile/mobile-logo-fire@2x.jpg 2x"
                    media="(max-width: 767px)">
                <img class="logo__img" src="#" alt="small fire logo">
            </picture>
            <span>EN</span>
        </p>
        <p class="logo__text-second-line">
            <span class="logo__text-second-line--color">hellish</span>
            english
        </p>
</div>