<div class="backdrop is-hidden" data-modal>
  <div class="modal-wrapper">
    <button class="modal__button" type="button" data-modal-close>
      <svg class="modal__icon">
        <use href="./images/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <form class="modal__form">
      <p class="modal__title">Оставьте свои данные, мы вам перезвоним</p>
      <div class="modal__inputs">
        <label class="modal__group">
          <span class="modal__label">Имя</span>
          <span class="modal__input-group">
            <input
              class="modal__input-info"
              type="text"
              name="name"
              minlength="2"
              title="Введите своё имя"
              placeholder="Василий Петрович"
              required
            />
            <svg class="modal__input-icon">
              <use href="./images/icons.svg#icon-person"></use>
            </svg>
          </span>
        </label>

        <label class="modal__group">
          <span class="modal__label">Телефон</span>
          <span class="modal__input-group">
            <input
              class="modal__input-info"
              type="tel"
              name="phome"
              title="Ведите номер телефона"
              placeholder="+38(000)00-00-00"
              required
            />
            <svg class="modal__input-icon">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </span>
        </label>

        <label class="modal__group">
          <span class="modal__label">Почта</span>
          <span class="modal__input-group">
            <input
              class="modal__input-info"
              type="email"
              name="email"
              title="Введите почтовый ящик"
              placeholder="example@mail.com"
            />
            <svg class="modal__input-icon">
              <use href="./images/icons.svg#icon-email"></use>
            </svg>
          </span>
        </label>

        <div class="modal__group-comment">
          <label class="modal__label" for="comment">Комментарий</label>
          <textarea
            class="modal__comment"
            name="comment"
            id="comment"
            placeholder="Введите текст"
            title="Тут можно написать свой комментарий"
            maxlength="400"
          ></textarea>
        </div>

        <label class="modal__confirm">
          <input class="modal__confirm-checkbox visually-hidden" type="checkbox" name="confirm" />
          <span class="modal__checkbox-icon"></span>
          <span class="modal__confirm-conditions"
            >Соглашаюсь с рассылкой и принимаю
            <a href="">Условия договора</a>
          </span>
        </label>

        <button class="modal__button-submit" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</div>
