<section class="program">
    <div class="container">
        <h2 class="program__title">Our program</h2>
        <ul class="program-list-first list">
            <li class="program-list-first__item">
                <h3 class="program-list-first__title">1 semester</h3>
                <div class="program-list-second-wrapper">
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Grammar</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Nouns &#38 Articles</li>
                            <li class="program-list-third__item">Adjectives &#38 Adverb</li></ul>
                    </li>
                </ul>
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Vocabulary</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Family &#38 Relations</li>
                            <li class="program-list-third__item">People &#38 Society</li>
                        </ul>
                    </li>
                
                </ul>
                </div>
            </li>
            <li class="program-list-first__item">
                <h3 class="program-list-first__title">2 semester</h3>
                <div class="program-list-second-wrapper">
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Grammar</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Pronouns</li>
                            <li class="program-list-third__item">Active Voice</li>
                            <li class="program-list-third__item">Passive Voice</li>
                        </ul>
                    </li>
                
                </ul>
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Vocabulary</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Home</li>
                            <li class="program-list-third__item">School</li>
                            <li class="program-list-third__item">Work</li>
                        </ul>
                    </li>
                </ul>
                </div>
            </li>
            <li class="program-list-first__item">
                <h3 class="program-list-first__title">3 semester</h3>
                <div class="program-list-second-wrapper">
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Grammar</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Modal verbs</li>
                            <li class="program-list-third__item">Infinitive</li>
                            <li class="program-list-third__item">Gerund</li>
                            <li class="program-list-third__item">Participle: 1, 2</li>
                        </ul>
                    </li>
                </ul>
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Vocabulary</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Travel &#38 Tourism</li>
                            <li class="program-list-third__item">Culture &#38 Free Time</li>
                            <li class="program-list-third__item">Sport</li>
                        </ul>
                    </li>
                
                </ul>
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Writing</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Informal Letter</li>
                        </ul>
                    </li>
                </ul>
                </div>
            </li>
            <li class="program-list-first__item">
                <h3 class="program-list-first__title">4 semester</h3>
                <div class="program-list-second-wrapper">
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Grammar</h4>
                    <ul class="program-list-third list">
                        <li class="program-list-third__item">Clauses: Conditional and Wishes</li>
                        <li class="program-list-third__item">Direct / Reported speech</li>
                        <li class="program-list-third__item">Preposition</li>
                        <li class="program-list-third__item">Conjunction</li>
                        <li class="program-list-third__item">Numeral</li>
                    </ul>
                    </li>
                </ul>
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Vocabulary</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Healthy Living</li>
                            <li class="program-list-third__item">Nature &#38 Environment</li>
                            <li class="program-list-third__item">Money</li>
                        </ul>
                    </li>
                </ul>
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title">Writing</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Formal Letter</li>
                        </ul>
                    </li>
                </ul>
                </div>
            </li>
            <li class="program-list-first__item">
                <h3 class="program-list-first__title">5 semester</h3>
                <div class="program-list-second-wrapper">
                <ul class="program-list-second list">
                    <li class="program-list-second__item">
                        <h4 class="program-list-second__title program-list-second__title--hidden">-</h4>
                        <ul class="program-list-third list">
                            <li class="program-list-third__item">Revision</li>
                            <li class="program-list-third__item">Tests</li>
                        </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
