<article class="reviews">
  <!-- Контейнер для галереи изображений -->
  <div class="container">
    <!-- Полноразмерные изображения с числовым текстом -->
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      <img src="./images/instagram.png" style="width: 100%" />
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
      <img src="./images/instagram.png" style="width: 100%" />
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
      <img src="./images/instagram.png" style="width: 100%" />
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
      <img src="./images/instagram.png" style="width: 100%" />
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
      <img src="./images/instagram.png" style="width: 100%" />
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
      <img src="./images/instagram.png" style="width: 100%" />
    </div>

    <!-- Вперед и назад кнопки -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Текст изображения -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Миниатюры -->
    <div class="row">
      <div class="column">
        <img
          class="demo cursor"
          src="./images/instagram.png"
          style="width: 100%"
          onclick="currentSlide(1)"
          alt="Лес"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/instagram.png"
          style="width: 100%"
          onclick="currentSlide(2)"
          alt="Пять земель"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/instagram.png"
          style="width: 100%"
          onclick="currentSlide(3)"
          alt="Горы и фьорды"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/instagram.png"
          style="width: 100%"
          onclick="currentSlide(4)"
          alt="Северное сияние"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/instagram.png"
          style="width: 100%"
          onclick="currentSlide(5)"
          alt="Природа и восход солнца"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/instagram.png"
          style="width: 100%"
          onclick="currentSlide(6)"
          alt="Заснеженные горы"
        />
      </div>
    </div>
  </div>
</article>
