<article class="reviews">
  <!-- Контейнер для галереи изображений -->
  <div class="container">
    <h2 class="review__title">Feedback from graduates</h2>
    <!-- Полноразмерные изображения с числовым текстом -->
    <div class="mySlides">
      <img class="slide__image" src="./images/reviews/volodymyr/volodymyr-mobile.png" />
      <div class="socials">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="caption-container">
        <h3 class="name">Tonya Kucherovskaya</h3>
        <div class="slide__description">
          <p class="graduated">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="biography">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ... Read more
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides">
      <img class="slide__image" src="./images/reviews/emma/emma-mobile.png" />
      <div class="socials">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="caption-container">
        <h3 class="name">Tonya Kucherovskaya</h3>
        <div class="slide__description">
          <p class="graduated">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="biography">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ... Read more
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 8</div>
      <img class="slide__image" src="./images/reviews/ihor/ihor-mobile.png" />
      <div class="socials">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="caption-container">
        <h3 class="name">Tonya Kucherovskaya</h3>
        <div class="slide__description">
          <p class="graduated">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="biography">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ... Read more
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 8</div>
      <img class="slide__image" src="./images/reviews/maryna/maryna-mobile.png" />
      <div class="socials">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="caption-container">
        <h3 class="name">Tonya Kucherovskaya</h3>
        <div class="slide__description">
          <p class="graduated">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="biography">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ... Read more
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 8</div>
      <img class="slide__image" src="./images/reviews/valeria/valeria-mobile.png" />
      <div class="socials">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="caption-container">
        <h3 class="name">Tonya Kucherovskaya</h3>
        <div class="slide__description">
          <p class="graduated">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="biography">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ... Read more
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 8</div>
      <img class="slide__image" src="./images/reviews/viktoria/vika-mobile.png" />
      <div class="socials">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="caption-container">
        <h3 class="name">Tonya Kucherovskaya</h3>
        <div class="slide__description">
          <p class="graduated">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="biography">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ... Read more
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="numbertext">7 / 8</div>
      <img class="slide__image" src="./images/reviews/vitaliyk/vitaliyk-mobile.png" />
      <div class="socials">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="caption-container">
        <h3 class="name">Tonya Kucherovskaya</h3>
        <div class="slide__description">
          <p class="graduated">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="biography">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ... Read more
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="numbertext">8 / 8</div>
      <img class="slide__image" src="./images/reviews/vitaliys/vitaliys-mobile.png" />
      <div class="socials">
        <ul class="list social__list">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="caption-container">
        <h3 class="name">Tonya Kucherovskaya</h3>
        <div class="slide__description">
          <p class="graduated">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="biography">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ... Read more
          </p>
        </div>
      </div>
    </div>

    <!-- Вперед и назад кнопки -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Текст изображения -->

    <!-- Миниатюры -->
    <div class="row">
      <div class="column">
        <img
          class="demo cursor"
          src="./images/reviews/volodymyr/volodymyr-min-icon.png"
          style="width: 100%"
          onclick="currentSlide(1)"
          alt="Лес"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/reviews/emma/emma-min-icon.png"
          style="width: 100%"
          onclick="currentSlide(2)"
          alt="Пять земель"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/reviews/ihor/ihor-min-icon.png"
          style="width: 100%"
          onclick="currentSlide(3)"
          alt="Горы и фьорды"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/reviews/maryna/maryna-min-icon.png"
          style="width: 100%"
          onclick="currentSlide(4)"
          alt="Северное сияние"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/reviews/valeria/valeria-min-icon.png"
          style="width: 100%"
          onclick="currentSlide(5)"
          alt="Природа и восход солнца"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/reviews/viktoria/vika-min-icon.png"
          style="width: 100%"
          onclick="currentSlide(6)"
          alt="Заснеженные горы"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/reviews/vitaliyk/vitaliyk-min-icon.png"
          style="width: 100%"
          onclick="currentSlide(7)"
          alt="Заснеженные горы"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="./images/reviews/vitaliys/vitaliys-min-icon.png"
          style="width: 100%"
          onclick="currentSlide(8)"
          alt="Заснеженные горы"
        />
      </div>
    </div>
  </div>
</article>
