.logo {
  display: block;

  font-weight: 800;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: $main-text-color;

  &__text-first-line {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }

  &__text-second-line {
    font-weight: 700;
    font-size: 5px;
    line-height: 1.2;
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }

  &__text-second-line--color {
    color: $accent-color;
  }

  &__img {
    margin: 0 3px;
    width: 14px;
    height: 20px;
  }
}

// 768+
@media screen and (min-width: $tablet) {
  .logo {
    font-size: 26px;
    line-height: 1.23;

    &__text-second-line {
      font-size: 8px;
      line-height: 1.25;
    }

    &__img {
      width: 22px;
      height: 30px;
    }

    &__text-first-line {
      margin-bottom: 5px;
    }
  }
}
