.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  @extend %flex__center;
  color: $social-link-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color $anim-duration $anim-timing-function,
    color $anim-duration $anim-timing-function;

  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $color-white;
  }
}

.social__icon {
  @include settings__icons(currentColor, 20px, 20px);
}

.footer__social-list {
  align-items: baseline;
}

.footer__social-link {
  background: $footer-social-link;
  color: $color-white;
}
