.benefits {
  &__container {
    @media screen and (min-width: $desktop) {
      padding: 0 26px;
    }
  }
  &__title {
    width: 180px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: $accent-text-color;

    @media screen and (min-width: $tablet) {
      width: 100%;
      text-align: center;
      font-size: 26px;
      line-height: 1.3;
    }
    @media screen and (min-width: $desktop) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
  &__list {
    list-style: none;
    counter-reset: section;
    padding: 20px 14px 20px 30px;
    background: $accent-text-color;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 35px 118px 40px 98px;
    }
    @media screen and (min-width: $desktop) {
      padding: 70px 84px 70px 82px;
    }
  }
  &__item {
    @media screen and (min-width: $tablet) {
      width: calc((100% - 2 * 10px) / 2);
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 2 * 30px) / 3);
    }
  }
  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 36px;
    }
  }
  &__item:not(:nth-last-child(-n + 2)) {
    @media screen and (min-width: $tablet) and (max-width: 1365px) {
      margin-bottom: 38px;
    }
  }
  &__item:not(:nth-last-child(-n + 3)) {
    @media screen and (min-width: $desktop) {
      margin-bottom: 64px;
    }
  }

  &__item-bulit {
    color: $accent-color;
    font-size: 18px;
    font-weight: 700;
  }

  &__item-inverse::before {
    position: relative;
    display: inline-block;
    counter-increment: section;
    content: '0' counter(section) ' ';
    // width: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.65;
    letter-spacing: 0.08em;
    color: $accent-color;
    @media screen and (min-width: $desktop) {
      font-size: 20px;
    }
  }
  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.08em;
    color: $main-text-color;
    @media screen and (min-width: $tablet) {
      line-height: 1.71;
    }
    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.08em;
    }
  }
}
