.contacts {
  padding: 56px 20px 55px;
  background: $secondary-background-color;
  min-height: 507px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('../images/registration/registration-mobile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 71px;
  }
  @media screen and (min-width: 1366px) {
    padding-top: 100px;
    padding-bottom: 62px;
  }
}
.contacts-form {
  margin: 0 auto;
  text-align: center;
}
.contacts-title {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03;
  color: $accent-text-color;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 46px;
    padding-left: 145px;
    padding-right: 145px;
    margin-bottom: 50px;
  }
}
.contacts-accent {
  color: $accent-color;
}
.contacts-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08;
  color: $accent-text-color;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
    padding-left: 158px;
    padding-right: 158px;
    margin-bottom: 23px;
  }
  @media screen and (min-width: 1366px) {
    font-size: 30px;
    line-height: 1.23;
    padding-left: 145px;
    padding-right: 145px;
    margin-bottom: 56px;
  }
}

.contacts-input {
  min-width: 280px;
  height: 48px;
  border: 1px solid $accent-text-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  letter-spacing: 0.08;
  padding-left: 28px;
  outline: none;
  display: block;
  margin: 0 auto;

  &:focus {
    outline: none;
    border-color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    width: 390px;
  }
  @media screen and (min-width: 1366px) {
    width: 478px;
    height: 70px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08;
  }
}
.contacts-form-box .contacts-field:nth-child(1) {
  margin-bottom: 20px;

  @media screen and (min-width: 1366px) {
    margin-bottom: 30px;
  }
}
.contacts-form-box .contacts-field:nth-child(2) {
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 31px;
  }
  @media screen and (min-width: 1366px) {
    margin-bottom: 80px;
  }
}
.contacts-input:not(:placeholder-shown):required:valid {
  border: 4px solid green;
}
.contacts-input:not(:placeholder-shown):required:invalid {
  border: 4px solid red;
}
