.footer {
  padding: 0;
  width: auto;

  &__content {
    padding: 30px 60px;
    background-color: $main-background-color;
    text-align: center;

    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      padding: 40px;
      text-align: left;
    }
    @media screen and (min-width: $desktop) {
      padding: 0 592px 0 183px;
    }
  }
  .logo__link {
    padding: 0;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      margin: 0 203px 0 0;
    }
    @media screen and (min-width: $desktop) {
      padding: 52px 0 53px 0;
      margin: 0;
    }
  }
  &__contacts {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: $desktop) {
      padding: 56px 0 57px 0;
    }
  }

  &__phone {
    display: block;
    font-family: $font-family-montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.07em;
    color: $main-text-color;
    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: 1.22;
      padding-right: 24px;
      margin-right: 24px;
      letter-spacing: 0.08em;
      margin-bottom: 0;
      border-right: 1px solid $secondary-text-color;
    }
    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 1.22;
      letter-spacing: 0.08em;
      border-right: 1px solid $secondary-text-color;
      padding-right: 16px;
      margin-right: 24px;
      margin-bottom: 0;
    }
  }

  &__copyright {
    background-color: $secondary-background-color;
    font-family: $font-family-montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0;
    padding: 22px 0 21px 0;
    color: $secondary-text-color;

    @media screen and (min-width: $tablet) {
      padding: 22px 0 21px 40px;
      text-align: left;
    }
    @media screen and (min-width: $desktop) {
      padding: 22px 0 21px 183px;
      text-align: left;
    }
  }
}

.phone__icon {
  width: 20px;
  height: 20px;
  fill: $accent-color;
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: $desktop) {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
}

.social-contacts__link {
  display: block;
  background-image: url(../images/instagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin: auto;
}
