.hero {
  padding-top: 50px;
  padding-bottom: 30px;
}

.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $main-text-color;
}
.description {
  margin-top: 30px;
  margin-bottom: 30px;
}
.description__decor-one {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: $secondary-text-color;
  display: flex;
  align-items: center;
}
.description__decor-two {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: $main-text-color;
}
.description__decor-three {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: $accent-color;
}

.hero__title-wrapper {
  width: 280px;
  height: 80px;
}

.hero__main-wrapper {
  background-image: url();
}
