.problems {
  padding-top: 27px;
  padding-bottom: 25px;
  background-image: linear-gradient(to bottom, $main-text-color 75.8%, $accent-text-color 24.2%);

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    background-image: linear-gradient(to bottom, $main-text-color 68%, $accent-text-color 32%);
  }

  @media screen and (min-width: $desktop) {
    background: url(../images/campfire.svg),
      linear-gradient(to bottom, $main-text-color 68%, $accent-text-color 32%);
    background-position: 1280px 82px, 0px;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 91px;
  }
}
.problems__container {
  @media screen and (min-width: $desktop) {
    padding-left: 24px;
    padding-right: 20px;
  }
}
.problems__title {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: $accent-text-color;

  &--accent {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    padding-left: 2px;
    margin-bottom: 36px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 63px;
    font-size: 46px;
  }
}
.problems-grid {
  counter-reset: section;
  background-color: $accent-text-color;
  padding: 20px 13px 4px 30px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: $tablet) {
    padding: 30px 64px 10px 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    padding: 68px 113px 61px 115px;
  }
}
.problems-grid__item {
  position: relative;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &:first-child {
    margin-top: 21px;
  }

  &::before {
    position: absolute;
    top: -26px;
    left: 28px;
    counter-increment: section;
    content: '0' counter(section);
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: $accent-color;

    @media screen and (min-width: $desktop) {
      top: -31px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 20px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc(100% / 3 - 24px);
    margin-left: 12px;
    margin-top: 30px;
  }
}
.problems-grid__item:not(:nth-last-child(-n + 2)) {
  @media screen and (min-width: $tablet) and (max-width: 1365px) {
    margin-bottom: 30px;
  }

  &:not(:nth-last-child(-n + 3)) {
    @media screen and (min-width: $desktop) {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}
.problems-grid__item:nth-child(5) {
  @media screen and (max-width: 320px) {
    width: 209px;
  }
}
.problems-grid__item:nth-child(2) {
  margin-top: 21px;
}
// .problems-grid__item:nth-child(3) {
//   @media screen and (min-width: $desktop) {
//     margin-top: 21px;
//   }
// }
.problems-grid__text {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}
.problems-grid__text::before {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: $accent-color;
  top: -15px;

  @media screen and (min-width: $desktop) {
    top: -21px;
  }
}
