.problems {
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: linear-gradient(to bottom, $main-text-color 75.8%, $accent-text-color 24.2%);

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    background-image: linear-gradient(to bottom, $main-text-color 68%, $accent-text-color 32%);
  }

  @media screen and (min-width: $desktop) {
    background: url(../images/campfire.svg),
      linear-gradient(to bottom, $main-text-color 73%, $accent-text-color 32%);
    background-position: right 0px bottom 208px, 0px;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 65px;
  }
}
.problems__container {
  @media screen and (min-width: $desktop) {
    padding-left: 26px;
    padding-right: 26px;
  }
}
.problems__title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: $accent-text-color;

  &--accent {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    padding-left: 2px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 70px;
    font-size: 46px;
  }
}
.problems-grid {
  counter-reset: section;
  background-color: $accent-text-color;
  padding: 19px 14px 19px 30px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: $tablet) {
    padding: 26px 47px 30px 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    padding: 70px 112px 62px 114px;
  }
}
.problems-grid__item {
  position: relative;
  padding-top: 29px;

  &:not(:last-child) {
    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 37px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 43px;
  }

  &::before {
    position: absolute;
    top: 3px;
    left: 28px;
    counter-increment: section;
    content: '0' counter(section);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: $accent-color;

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.65;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 39px) / 2);
  }
  &:not(:nth-last-child(-n + 2)) {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin-bottom: 8px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 2 * 40px) / 3);
  }
  &:not(:nth-last-child(-n + 3)) {
    @media screen and (min-width: $desktop) {
      margin-bottom: 32px;
    }
  }
}
.problems-grid__item:nth-child(5) {
  @media screen and (max-width: $mobile-min) {
    max-width: 209px;
  }
}
.problems-grid__text {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}
.problems-grid__text::before {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: $accent-color;
  top: -19px;

  @media screen and (min-width: $tablet) {
    top: -27px;
  }

  @media screen and (min-width: $desktop) {
    top: -25px;
  }
}
