* {
  box-sizing: border-box;
}

/* Расположите контейнер изображения (необходимо расположить стрелки влево и вправо) */
.container {
  position: relative;
}

/* Скрыть изображения по умолчанию */
.mySlides {
  display: none;
}

/* Добавить указатель при наведении на миниатюры изображений */
.cursor {
  cursor: pointer;
}

/* Вперед и предыдущие кнопки */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Позиция "next кнопка" на право */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора добавьте черный цвет фона с небольшим количеством прозрачного */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Номера текст (1/3 и т.д.) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Контейнер для текста изображения */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Шесть колонн бок о бок */
.column {
  float: left;
  width: 16.66%;
}

/* Добавить эффект прозрачности для миниатюрных изображений */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
