.reviews {
  padding: 50px 0;

  @media screen and (min-width: $desktop) {
    padding: 130px 0;
  }

  &__title {
    display: block;
    text-align: center;
    margin: 0 auto 24px auto;

    width: 176px;

    font-weight: 800;
    font-size: 20px;
    line-height: 130%;

    letter-spacing: 0.03em;

    color: $main-text-color;
    @media screen and (min-width: $tablet) {
      font-size: 26px;
      margin-bottom: 30px;
      width: 100%;
    }
    @media screen and (min-width: $desktop) {
      font-size: 46px;

      width: 866px;
      margin-bottom: 50px;
    }
  }

  /* Расположите контейнер изображения (необходимо расположить стрелки влево и вправо) */
  &__container {
    position: relative;
  }

  /* Скрыть изображения по умолчанию */
  &__slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;

    @media screen and (min-width: $tablet) {
      padding: 40px;
      flex-direction: row;

      align-items: flex-start;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
      padding: 50px 112px 51px 82px;
      margin-bottom: 40px;
      background: #ffffff;
      box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    }
  }

  &__slide-image {
    display: block;
    margin-bottom: 31px;
    border: none;
    @media screen and (min-width: $tablet) {
      margin-bottom: 27px;
    }
  }

  &__slide-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 31px;

    @media screen and (min-width: $tablet) {
      margin-right: 46px;
      margin-bottom: 0px;
    }
  }
}

.slides {
  /* Контейнер для текста изображения */
  &__caption-container {
    text-align: center;
    padding: 0;

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }

  &__name {
    font-weight: 800;
    font-size: 14px;
    line-height: 17 / 14 * 100%;
    text-align: center;
    letter-spacing: 0.08em;
    color: $accent-color;
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: 24 / 20 * 100%;
      text-align: left;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 37 / 30 * 100%;
      margin-bottom: 10px;
    }
  }

  &__graduated {
    min-width: 200px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15 / 12 * 100%;
    text-align: center;
    letter-spacing: 0.08em;

    color: #b9b9b9;
    margin: 0 auto 16px auto;

    // @media screen and (min-width: $mobile) {
    //   width: 440px;
    // }

    @media screen and (min-width: $tablet) {
      text-align: left;
      line-height: 15 / 12 * 100%;
      width: 412px;
      margin: 0 0 20px 0;
    }

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      text-align: left;
      line-height: 17 / 14 * 100%;
      width: 468px;
    }
  }

  &__biography {
    // min-width: 200px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20 / 12 * 100%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #3d3d3d;
    margin: 0 auto;

    width: 240px;

    @media screen and (min-width: $mobile-min + 1px) {
      min-width: 240px;
    }

    @media screen and (min-width: $mobile) {
      display: block;
      width: 412px;
    }

    @media screen and (min-width: $tablet) {
      text-align: left;
      margin: 0;
    }

    @media screen and (min-width: $desktop) {
      font-size: 18px;
      text-align: left;
      line-height: 28 / 18 * 100%;
      width: 706px;
    }
  }
}

/* Добавить указатель при наведении на миниатюры изображений */
.cursor {
  cursor: pointer;
}

/* Добавить эффект прозрачности для миниатюрных изображений */
.demo {
  opacity: 0.6;
  width: 54px;
}

.hidden {
  display: none;
}

.link-text-toggle {
  color: $accent-color;
}
